:root {
--colorone: #e8e8e8;
--colortwo: #f05454;
--colorthree: #30475e;
--colorfour: #222831;

/*
--colorone: #e8e8e8;
--colortwo: #f05454;
--colorthree: #30475e;
--colorfour: #222831;

--colorone: #2c3e50;
--colortwo: #34495e;
--colorthree: #ecf0f1;
--colorfour: #bdc3c7;

--colorone: #0b5269;
--colortwo: #03051e;
--colorthree: #978d58;
--colorfour: #eae1e1;

--colorone:#f1f1f1;
--colortwo: #fdb827;
--colorthree: #21209c;
--colorfour: #23120b;

--colorone: #325288;
--colortwo: #f4eee8;
--colorthree: #f5cebe;
--colorfour: #114e60;

--colorone: #222831;
--colortwo: #30475e;
--colorthree: #c1a57b;
--colorfour: #ececec;

--colorone: #cb9b42;
--colortwo: #b1d1c5;
--colorthree: #f2f3ee;
--colorfour: #dbd7cb;

--colorone: #2d4059;
--colortwo: #ffb400;
--colorthree: #f6f6f6;
--colorfour: #ea5455;

--colorone: #194769;
--colortwo: #f6f6e9;
--colorthree: #d7eef2;
--colorfour: #f2855e;

--colorone: #2d4059;
--colortwo: #ea5455;
--colorthree: #decdc3;
--colorfour: #e5e5e5;

--colorone: #eeeeee;
--colortwo: #222831;
--colorthree: #4f8a8b;
--colorfour: #fbd46d;

--colorone: #f6f6f6;
--colortwo: #eae9e9;
--colorthree: #d4d7dd;
--colorfour: #420000;

--colorone: #f9f8eb;
--colortwo: #76b39d;
--colorthree: #05004e;
--colorfour: #fd5f00;

--colorone: #;
--colortwo: #;
--colorthree: #;
--colorfour: #;

--colorone: #;
--colortwo: #;
--colorthree: #;
--colorfour: #;

--colorone: #;
--colortwo: #;
--colorthree: #;
--colorfour: #;

*/

}


body {
  font-family: 'Changa', sans-serif;
  max-width: 360px;
  margin: 0 auto;
}

.app-container {
  color: var(--colorthree);
  box-shadow: 3px 3px 3px var(--colorthree);
  background-color: white;
  background-size: cover;
  border: 1px solid var(--colortwo);
  margin-top: 80px;
  padding: 40px 20px;
  border-radius: 6px;
  position: relative;
  z-index: 2;
}

h1 {
  font-size: 14px;
}

form {
  margin-bottom: 40px;
}

#icon {
  color: var(--colortwo);
  /*content: "\f743";
  font-family: FontAwesome;*/
  font-size: 180px;
  position: absolute;
  top: 20%;
  left: 26%;
  margin: 0;
  opacity: .04;
  z-index: 1;  
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  padding-left: 20px;
}

h3 {
  font-size: 20px;
  padding: 0 0 170px 20px;
}

h3:first-letter {
  text-transform: capitalize;
}

.col-4, .col-1, .col-3 {
  padding: 0;
}

span#temperature {
  font-size: 42px;
  text-align: center;
  color: var(--colorfour);
}

.main-temp {
  text-align: center;
}

.main-temp .unit {
  font-size: 12px;
  position: relative;
  top: -20px;
  padding-left: 5px;
}

.main-temp .unit a {
  text-decoration: none;
  color: var(--colorthree);
}

.main-temp .unit a:hover {
  color: red;
  cursor: pointer;
}

.main-temp .active {
  color: rgb(126, 16, 136);
  cursor: default;
}

.main-temp .active:hover {
  text-decoration: none;

}

.temp-range {
  font-size: 12px;
}

.temp-range.min {
  padding: 15px 0 0 40px;
}
.temp-range.max {
  padding: 15px 40px 0 0;
  text-align: right;
}


.fa-long-arrow-alt-left {
  color: var(--colorthree);
  font-size: 20px;
  font-weight: 900;
  opacity: 1;
  padding: 20px 5px 0 5px;
}
.fa-long-arrow-alt-right {
  color: var(--colorthree);
  font-size: 20px;
  font-weight: 900;
  opacity: 1;
  padding: 20px 5px 0 5px;
}

.weatherMisc {
  font-size: 10px;
  padding: 20px;
  text-align: center;
}

.weatherMisc strong {
  font-size: 12px;
}

.forecast {
  padding: 0;
  text-align: center;
}
